.main-page-container {
  display: flex;
  justify-content: space-between;
}

h4 {
  color: $gray;
}

p {
  color: $light-gray;
}

.dogshow_photo {
  height: 400px;
}

.calendar_overlay {
  z-index: 100000;
  padding: 10px 18px 10px 18px;
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: white;
}

.basic-info-show {
  align-self: flex-end;
}

body {
  background-color: white;
}

