

h4 {
  color: $gray;
}

p {
  color: $light-gray;
  font-weight: lighter;
}

.container-main {
  position: relative;
  width: 1440vw;
}

.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.basic-info-show {
  z-index: 1;
  border-radius: 4px;
  border: 1px solid $light-gray;
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 65px;
  right: 9%;
}

.photo-container {
  width: 600px;
  height: 400px;
  background-position: center;
  margin-top: 65px;
  border-radius: 4px;
  background-size: cover !important;
}

.request-appt {
  background-color: $red;
  color: white;
}

.show-map {
  width: 600px;
  height: 400px;
}


body {
  background-color: white;
}

.inline-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

