<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86d24240ca6b1df611e98ed6bd7a1efc&auto=format&fit=crop&w=1100&q=80');">
  <div class="banner-content">

    <div class="text">
      <h1>Dog corner</h1>
      <p class="text-description">Adopt your dog in a few clicks</p>
    </div>

     <form action="dogs" class="form-inline">
       <input  name="search-word" type="text" class="form-control input-lg form-input" placeholder="Where?">
       <input type="submit" class="btn btn-primary btn-lg" value="Search">
     </form>
  </div>
</div>

