.container-index-search-bar {
  padding: 20px;
  margin-top: -5px;
  margin-bottom: 20px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    padding: 10px;
  }
}

.index-dog-item {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  box-shadow: 6px 6px 8px $gray;
  margin-bottom: 30px;
  opacity: 0.9;
  padding: 0px 0px;
}

.index-dog-item h4 {
  font-size: 25px;
  color: white;
}

.index-dog-item:hover {
  opacity: 1;
}

.dogcaption {
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h5 {
    margin: 0px;
    font-size: 16px;
  }
}
