.dashboard-dog-container {
  padding: 50px 0px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



