.dashboard-appointment-container {
  padding: 30px 160px;
  background-color: #F0F0F0;
  margin: 0px;

  h2 {
    color: $red;
    font-size: 40px;
    margin-bottom: 40px;
  }

  h5 {
    font-size: 23px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }

  .inline-buttons {
    display: flex;
    justify-content: flex-start;
  }

  .panel-heading {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
    color: white;
    margin: 0px;
    }
  }

  .pending {
    background-color: $gray;
  }

  .confirmed {
    background-color: #34761F;
  }

  .rejected {
    background-color: #FFF8AC;
  }

  .app-message {
    color: #8F8D8E;
  }

  .appointment-item {
    border: none;
    margin: 20px 0px;
    box-shadow: 3px 3px 6px $gray;
  }

  .app-button {
    opacity: 0.8;
    margin-right: 10px;
  }

  .app-button:hover {
    opacity: 1;
  }

  .btn-danger {
    background-color: red;
  }

  .btn-success {
    background-color: #74B566;
  }

  .btn-primary {
    background-color: red;
  }

  .btn {
    border: none;
  }

  .app-icon {
    color: $red;
  }

  .link-to-dog-show {
    font-size: 20px;
    font-weight: bold;
  }

  .nav-tabs a {
    color: gray;
  }

  .nav-tabs .active a {
    color: $blue;
    background-color: #F0F0F0;
  }

  .nav-tabs .active a:hover {
    color: $blue;
  }

}







