.dashboard-dog-item {
  height: 300px;
  width: 300px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  box-shadow: 6px 6px 8px $gray;
  margin: 30px;
  opacity: 0.9;
  padding: 0px;
}

.caption {
  width: 300px;
  height: 40px;
  background-color: white;
  color: black;
  align-items: center;
}


.dashboard-dog-item h4 {
  font-size: 45px;
  color: white;
}

.dashboard-dog-item:hover {
  opacity: 1;
}

.add-dog-card {
  align-items: flex-start;
}

